* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 25, 55);
}

.wrapper {
    display: block;
}

.logoContainer {
    position: absolute;
    width: 50%;
    padding-top: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: white;*/
}

.heartBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 6.25%;
    height: 6.25%;
    background-color: white;
    border-radius: 6px;
    transform: scale(0);
    animation-timing-function: ease-in-out;
}

.heartBoxFinal {
    position: absolute;
    top: 0;
    left: 0;
    width: 6.25%;
    height: 6.25%;
    background-color: white;
    border-radius: 6px;
    transform: scale(1) rotate(0deg);
}

@keyframes spin {
    0% { transform: scale(0) rotate(0deg); }
    25% { transform: scale(2) rotate(180deg); }
    100% { transform: scale(1) rotate(360deg); }
}